# Backend API Settings
API_PORT=8000
API_HOST=0.0.0.0

# Database Settings
POSTGRES_URL=postgresql://user:password@localhost:5432/forexai
MONGODB_URL=mongodb://localhost:27017/forexai
REDIS_URL=redis://localhost:6379/0

POSTGRES_PASSWORD="your_password"
MONGO_PASSWORD="12345678"
REDIS_PASSWORD="12345678"

# Broker API Keys
OANDA_API_KEY=your_oanda_api_key_here
OANDA_ACCOUNT_ID=your_oanda_account_id_here

# Security
SECRET_KEY=your_secret_key_for_jwt_tokens
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# NLP Settings
FINBERT_MODEL_PATH=./models/finbert/

# Data Ingestion
DATA_SOURCE_URL=https://api.marketdata.com
MARKET_DATA_API_KEY=your_market_data_api_key
